@model Category

@{
    ViewData["Title"] = "Create";
    var from = ViewData["from"] ?? String.Empty;
}

<h2>Create</h2>

<div class="row">
    <form asp-action="Create" asp-route-from="@from" class="col s12">
        <div class="row">
            @Html.Partial("_CategoryForm")
            <div class="row">
                <input type="submit" value="Create" class="btn" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-route-from="@from">Back to List</a>
</div>

