<ng-container [ngSwitch]="flash">
  <div *ngSwitchCase="'success'" class="alert alert-success">
    <strong>Success!</strong> <ng-content></ng-content>
  </div>
  <div *ngSwitchCase="'info'" class="alert alert-info">
    <strong>Note!</strong> <ng-content></ng-content>
  </div>
  <div *ngSwitchCase="'warning'" class="alert alert-warning">
    <strong>Warning!</strong> <ng-content></ng-content>
  </div>
  <div *ngSwitchCase="'danger'" class="alert alert-danger">
    <strong>Error!</strong> <ng-content></ng-content>
  </div>
</ng-container>
