<div class="container">
    <div class="row">
        <div class="col l4 s12">
            <h5 class="white-text">Feedback</h5>
            <p class="grey-text text-lighten-4">Yada yada yada.</p>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">&copy; 2017 - Certaincy Intranet, All rights reserved.</div>
</div>