@import url(https://fonts.googleapis.com/css?family=Roboto);

  h3, a, p, label, input {
  	font-family: 'Roboto';
  }

  .card {
  	max-width:820px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 1px 0 10px 10px;
    border: thin solid lightgrey;
  }

  /* .card-background:nth-child(even):not(.draft-news) {
    background: #f3f3f3;
  }

  .card-background:nth-child(odd):not(.draft-news) {
    background: #e6e6e6;
  } */

  img {
    max-width: 100%;
    height: auto;
  }

  .card-img-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-img-caps {
  	margin-top: 30px;
  }

  .card-text {
    word-wrap:break-word;
  }

  .btn-new {
  	position: fixed;
  	bottom: 20px;
  	right: 50px;
  	width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
  }

  .btn-detail {
  	position: fixed;
    bottom: 20px;
    right: 50px;
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
  }

  .btn-mail {
    position: fixed;
    bottom: 75px;
    right: 50px;
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
  }

   .btn-time {
    position: fixed;
    bottom: 130px;
    right: 50px;
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
  }

  .form-horizontal {
    margin-top: 20px;
  	background-color: #F5F5F5;
  	padding: 40px;
  	border-radius: 8px;
  }

  .alert {
    margin-top: 10px;
    width: 95%;
    padding: 10px;
  }

  .alert-form {
    margin: 10px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    float: right;
  }

  .draft-news {
    border: thick solid rgba(255, 0, 0, 0.55);
  }
