<div class="container-fluid">
  <h3>News</h3>&nbsp;
    <div class="col-xs-3">
      <a [routerLink]="['/news-new']" class="btn btn-success btn-circle btn-new">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="https://outlook.office.com/owa/" class="btn btn-warning btn-circle btn-mail">
        <span class="glyphicon glyphicon-envelope"></span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="https://certaincy-time-report.herokuapp.com/" class="btn btn-primary btn-circle btn-time">
        <span class="glyphicon glyphicon-time"></span>
      </a>
    </div>
    <div class="card card-background" [class.draft-news]="!newsItem.published" *ngFor="let newsItem of newsItems">
      <news-info-strip [newsItem]="newsItem"></news-info-strip>
      <news-keywords-strip [keywords]="newsItem.keywords"></news-keywords-strip>
      <div *ngIf="newsItem.headerImage" class="card-img-wrap">
        <a [routerLink]="[generateUrl(newsItem)]">
          <img src="{{ '/image/600/300/' + newsItem.headerImage.fileName }}" class="card-img-caps">
        </a>
      </div>
      <div class="card-block">
        <h4 class="card-title">{{ newsItem.title }}</h4>
        <p class="card-text" [innerHTML]="newsItem.text | limitTo : 185 | safeHtml"></p>
        <div>
          <a [routerLink]="[generateUrl(newsItem)]" class="btn btn-info">Read more!</a>
          <toggle-published [newsitem]="newsItem"></toggle-published>
          <delete-news-button [newsItem]="newsItem" (onDelete)="handleOnDelete($event)"></delete-news-button>
        </div>
      </div>
    </div>
</div>
