<div class="container-fluid">
<h3>Certaincy News</h3>
  <div class="fixed-action-btn">
    <a [routerLink]="['/news-new']" class="btn btn-warning pull-right">
      <span class="glyphicon glyphicon-plus"></span> Add 
    </a>
  </div>
    <div class="card" *ngFor="let newsitem of newsitems">
      <img class="card-img-top">
    <div class="card-block">
      <a [routerLink]="['/news-detail', newsitem.id]">
        <h4 class="card-title">{{ newsitem.title }}</h4>
      </a>
      <p class="card-text">{{ newsitem.date | date }}</p>
    </div>
  </div>
</div>