@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
	font-family: Roboto;
}
.news-card {
	margin: 20px;
}
.app-action {
	  display: inline-block;
	  position: fixed;
	  bottom: 20px;
	  right: 20px;
}



