<div *ngIf="isAuthorised && newsitem; then gotNewsItem else noNewsItem"></div>

<ng-template #noNewsItem></ng-template>

<ng-template #gotNewsItem>
  <a *ngIf="!newsitem.published" (click)="publishNewsItem(newsitem); $event.stopPropagation()" class="btn btn-info btn-default">
    <span class="glyphicon glyphicon-ok"></span> Publish
  </a>&nbsp;
  <a *ngIf="newsitem.published" (click)="unpublishNewsItem(newsitem); $event.stopPropagation()" class="btn btn-info btn-default">
    <span class="glyphicon glyphicon-eject"></span> Unublish
  </a>&nbsp;
</ng-template>
