<div *ngFor="let todo of todos">
	<ul>
		<li>{{todo.description}}</li>
	</ul>
</div>

<div class="container-fluid">
  <h3>New at Certaincy</h3>
    <div class="row">
      <div class="list-group">
        <a href="#" class="list-group-item disabled">TODOS<input title="toggle all" type="checkbox" class="all pull-right"></a>
        <a href="#" class="list-group-item">Second item <input type="checkbox" class="pull-right"></a>
        <a href="#" class="list-group-item">Third item <input type="checkbox" class="pull-right"></a>
        <a href="#" class="list-group-item">More item <input type="checkbox" class="pull-right"></a>
        <a href="#" class="list-group-item">Another <input type="checkbox" class="pull-right"></a>
      </div>
    </div>
</div>
