<div class="container-fluid">
  <h3>New at Certaincy</h3>&nbsp;
    <div class="list-group">
      <label for="todos">Todos:</label>
        <ul *ngFor="let todo of todos" style="list-style-type:none">
            <li>
               <input type="checkbox" 
                      name="isChecked" 
                      [(ngModel)]="todo.isChecked">&nbsp;
                {{todo.description}}       
            </li>
        </ul>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" (click)="updateProfileChecklist()">Done!</button> 
    </div>
</div>