<div class="container-fluid">
	<h3>Consults at Certaincy</h3>
  <div class="col-xs-3">
    <a [routerLink]="['/profile-new']" class="btn btn-success btn-circle btn-new">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>    
	<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let profile of profiles" [routerLink]="['/profile-detail', profile.id]">
      <td>{{profile.firstName}} {{profile.lastName}}<br />
      Developer<br />
      Company</td>
      <td></td>
      <td>
        <a href="#">
      	 <span class="glyphicon glyphicon-envelope pull-right"></span>
        </a>
      </td>
      <td>
        <a href="#">
          <span class="glyphicon glyphicon-earphone pull-right"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>