<div class="container-fluid">
  <h3>New at Certaincy</h3>&nbsp;
    <div class="form-group">
      <label for="todos">Todos:</label>
        <div *ngFor="let todo of todos">
            <label>
               <input type="checkbox" 
                      name="isChecked" 
                      [(ngModel)]="todo.isChecked">
                {{todo.description}}       
            </label>
        </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" (click)="updateProfileChecklist()">Done!</button> 
    </div>
</div>