<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse.in' (click)="toggleState()">
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/news']"><img src="https://s3-eu-west-1.amazonaws.com/certaincy-intranet-static-images/logos/logo.png"></a>
        </div>
        <div class='clearfix'></div>
        <div class='collapse navbar-collapse' [ngClass]="{ 'in': isIn }">
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/news']" data-toggle="collapse">
                        <span class='glyphicon glyphicon-list-alt'></span> News
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/checklist']" data-toggle="collapse">
                        <span class='glyphicon glyphicon-ok'></span> New at Certaincy
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/profile-single']" data-toggle="collapse">
                        <span class='glyphicon glyphicon-user'></span> My Certaincy
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" >
                    <a [routerLink]="['/profiles']" data-toggle="collapse">
                        <span class='glyphicon glyphicon-grain'></span> Our Consults
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a class="nav-link" href="https://certaincy-time-report.herokuapp.com/" data-toggle="collapse">
                        <span class='glyphicon glyphicon-time'></span> TIME
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a class="nav-link" href="https://outlook.office.com/owa/" data-toggle="collapse">
                        <span class='glyphicon glyphicon-envelope'></span> Webmail
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
