@model NewsViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<input type="hidden" asp-for="Id" />
<div class="row">
    <div class="input-field col s5">
        <input asp-for="Title" class="validate" />
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="input-field col s5">
        <small id="fileHelp" class="form-text text-muted">
            This image will be used as the news header. Hint: You can find a lot of great images at <a href="https://unsplash.it/images" target="_blank">unsplash.it/images</a> and <a href="https://unsplash.com" target="_blank">unsplash.com</a>.
        </small>
        <div class="file-field input-field">
            <div class="btn">
                <span>Image</span>
                <input name="Image" type="file" aria-describedby="fileHelp" accept="image/*">
                <span for="Image" class="text-danger"></span>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
            @if (Model.HeaderImage.IsNotNull())
            {
                <div>
                    <img src="/image/w_250/h_125/@Model.HeaderImage.FileName" aria-describedby="originalImageHelp" />
                </div>
                <small id="originalImageHelp" class="form-text text-muted">
                    This is the current header image.
                </small>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input asp-for="Text" />
        <label asp-for="Text"></label>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    @Html.Partial("_TextEditor", new TextEditorViewModel { Id = nameof(Model.Text), Text = Model.Text })
</div>
<div class="row">
    <div class="input-field col s5">
        <input asp-for="Keywords" aria-describedby="keywordHelp" />
        <label asp-for="Keywords"></label>
        <small id="keywordHelp" class="form-text text-muted">
            The keywords should be seperated by "," or ";".
        </small>
        <span asp-validation-for="User" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="switch">
        <label>
            Unpublished
            <input asp-for="Published" />
            <span class="lever"></span>
            Published
        </label>
    </div>
</div>
<div class="row">
    <div class="input-field col s5">
        <input asp-for="User" value="@User.Identity.Name" disabled />
        <label asp-for="User">Author</label>
        <span asp-validation-for="User" class="text-danger"></span>
    </div>
</div>