@model NewsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h2>Create</h2>

<form enctype="multipart/form-data" asp-action="Create">
    <div class="form-horizontal">
        <h4>News</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        @Html.Partial("_NewsForm", Model)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
