@model NewsViewModel

@{
    ViewData["Title"] = "Add News";
    Layout = "_Layout";
}

<h2>Add News</h2>

<div class="row">
    <form enctype="multipart/form-data" asp-action="Create" class="col s12">
        <div class="row">
            @Html.Partial("_NewsForm", Model)
            <div class="input-field">
                <input type="submit" value="Create" class="btn" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
