@model NewsViewModel

@{
    ViewData["Title"] = "Delete News";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    @Html.Partial("_News", Model, new ViewDataDictionary(this.ViewData) { { "Summary", true }, { "HideButtons", true } })
    <input type="hidden" asp-for="Id" />
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-success">Cancel</a>
        </div>
    </form>
</div>
