.list-group-item-heading {
  font-size: 2rem;
}

.list-group-item-text {
  font-size: 1.7rem;
}

.list-group-item-heading ~ .collapsible.collapsed {
  height: 0px;
  overflow: hidden;
}
 .list-group-item-heading ~ .collapsible {
   height: 100%;
}
