<div class="container-fluid">
  <h1>FAQ</h1>
  <!-- START: Flash messages  -->
  <flash-message [flash]="'success'" [message]="saved.success" *ngIf="!saved.faqId && !saved.categoryId && saved.success"></flash-message>
  <flash-message [flash]="'danger'" [message]="saved.error" *ngIf="!saved.faqId && !saved.categoryId && saved.error"></flash-message>
  <!-- END: Flash messages  -->
  <div *ngFor="let faqByCategory of faqByCategories">
    <!-- START: Category Title -->
    <h2 id="{{faqByCategory.category.url}}">
      <span *ngIf="!isAdmin && faqByCategory && faqByCategory.category.title">
        {{faqByCategory.category.title}}
      </span>
      <text-editor
        *ngIf="isAdmin && faqByCategory && faqByCategory.category.title"
        [inline]="true"
        [elementId]="'edit-title-category-' + faqByCategory.category.id"
        [text]="faqByCategory.category.title"
        (onEditorContentChange)="onCategoryTitleChange($event, faqByCategory.category)"
      ></text-editor>
      <!-- START: Save and Delete  -->
      <div class="pull-right">
        <span
        *ngIf="isAdmin"
        (click)="isAdmin && saveCategory(faqByCategory.category)"
        class="glyphicon glyphicon-floppy-disk"
        aria-hidden="true"
      ></span>
      <span
        *ngIf="isAdmin"
        (click)="isAdmin && deleteCategory(faqByCategory.category)"
        class="glyphicon glyphicon-trash"
        aria-hidden="true"
      ></span>
      </div>
      <!-- END: Save and Delete  -->
    </h2>
    <!-- START: Flash messages  -->
    <flash-message [flash]="'success'" [message]="saved.success" *ngIf="saved.categoryId === faqByCategory.category.id && saved.success"></flash-message>
    <flash-message [flash]="'danger'" [message]="saved.error" *ngIf="saved.categoryId === faqByCategory.category.id && saved.error"></flash-message>
    <!-- END: Flash messages  -->
    <!-- END: Category Title  -->
    <div class="list-group" (click)="$event.preventDefault()">
      <a
        *ngFor="let faq of faqByCategory.faqs"
        id="{{faq.url}}"
        href="#"
        (click)="!isAdmin && faq.id && toggle(faq.id)"
        class="list-group-item"
      >
        <h4 class="list-group-item-heading">
          <span
            (click)="isAdmin && faq.id && toggle(faq.id)"
            class="glyphicon"
            [ngClass]="{ 'glyphicon-minus': isOpen(faq.id) || !faq.id, 'glyphicon-plus': !isOpen(faq.id) }"
            aria-hidden="true"
          ></span>&nbsp;
          <span *ngIf="!isAdmin && faq.question">
            {{faq.question}}
          </span>
          <text-editor
            *ngIf="isAdmin && faq.question"
            [inline]="true"
            [elementId]="'edit-title-editor-question-' + faq.id"
            [text]="faq.question"
            (onEditorContentChange)="onQuestionChange($event, faq)"
          ></text-editor>
          <div class="pull-right">
            <span
            *ngIf="isAdmin"
            (click)="isAdmin && save(faq)"
            class="glyphicon glyphicon-floppy-disk"
            aria-hidden="true"
          ></span>
          <span
            *ngIf="isAdmin"
            (click)="isAdmin && delete(faq)"
            class="glyphicon glyphicon-trash"
            aria-hidden="true"
          ></span>
          </div>
        </h4>
        <div [ngClass]="{ 'collapsed': !isOpen(faq.id) && faq.id }" class="collapsible">
          <p *ngIf="!isAdmin && faq.answer" class="list-group-item-text">{{faq.answer}}</p>
          <text-editor
            *ngIf="isAdmin && faq.answer"
            class="list-group-item-text"
            [inline]="true"
            [elementId]="'edit-title-editor-answer-' + faq.id"
            [text]="faq.answer"
            (onEditorContentChange)="onAnswerChange($event, faq)"
          ></text-editor>
          <keywords-strip
            *ngIf="!isAdmin"
            [keywords]="faq.keywords"
          ></keywords-strip>
          <keywords-strip
            *ngIf="isAdmin"
            [edit]="true"
            [keywords]="faq.keywords"
            [elementId]="'edit-keywords-' + faq.id"
            (onEditorContentChange)="onKeywordsChange($event, faq)"
          ></keywords-strip>
        </div>
        <!-- START: Flash messages inside FAQ  -->
        <flash-message [flash]="'success'" [message]="saved.success" *ngIf="faq.id === saved.faqId && saved.success"></flash-message>
        <flash-message [flash]="'danger'" [message]="saved.error" *ngIf="faq.id === saved.faqId && saved.error"></flash-message>
        <!-- END: Flash messages inside FAQ  -->
      </a>
    </div>
  </div>
  <!-- START: New Category Title -->
  <div *ngIf="isAdmin">
    <h2 id="'new-category'">
      <text-editor
        [inline]="true"
        [elementId]="'edit-title-new-category'"
        [text]="newCategory.title"
        (onEditorContentChange)="onCategoryTitleChange($event, newCategory)"
      ></text-editor>
      <!-- START: Save and Delete  -->
      <div class="pull-right">
        <span
        *ngIf="isAdmin"
        (click)="isAdmin && saveCategory(newCategory)"
        class="glyphicon glyphicon-floppy-disk"
        aria-hidden="true"
      ></span>
      </div>
      <!-- END: Save and Delete  -->
    </h2>
    <!-- START: Flash messages  -->
    <flash-message [flash]="'success'" [message]="saved.success" *ngIf="saved.categoryId === newCategory.id && saved.success"></flash-message>
    <flash-message [flash]="'danger'" [message]="saved.error" *ngIf="saved.categoryId === newCategory.id && saved.error"></flash-message>
    <!-- END: Flash messages  -->
  </div>
  <!-- END: New Category Title  -->
</div>
