@import url(https://fonts.googleapis.com/css?family=Roboto);

$roboto: 'Roboto', serif;

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

h1, h2, h3, h4, a, p, label, input {
  font-family: $roboto;
}

.body-content {
  max-width:820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35vh;
}
