@model FaqViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="input-field col s5">
        <select asp-for="Category.Title" asp-items="ViewBag.Categories"></select>
        <label asp-for="Category.Title">Category</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s5">
        <input asp-for="Question" />
        <label asp-for="Question"></label>
        <span asp-validation-for="Question" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <textarea class="materialize-textarea" asp-for="Answer"></textarea>
        <label asp-for="Answer"></label>
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    @Html.Partial("_TextEditor", new TextEditorViewModel { Id = nameof(Model.Answer), Text = Model.Answer })
</div>
<div class="row">
    <div class="input-field col s5">
        <input asp-for="Tags" />
        <label asp-for="Tags"></label>
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
</div>