@model FaqViewModel

@{
    ViewData["Title"] = "Create FAQ";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <form asp-action="Create" class="col s12">
        <div class="row">
            @Html.Partial("_FaqForm")
            <div class="row">
                <input type="submit" value="Create" class="btn" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

