@{
    var returnUrl = $"/Login?ReturnUrl={ViewBag.ReturnUrl}";
}

<div class="login-page">
    <div class="form">
        <h1>Certaincy</h1>
        <form class="login-form" action="@returnUrl" method="post">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button>login</button>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/assets/css/login.css" />
}